.onboarding {
  background: linear-gradient(135deg, $main-gradient-start, $main-gradient-end);
  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    display: grid;
    grid-template-rows: 100px auto 100px;
  }
}
