.btn {
  border: none;
  color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease-in;

  &:active {
    cursor: pointer;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}

.large {
  @include typography($body-1-semibold);
  padding: 20px 24px;
  border-radius: 12px;
}

.medium {
  @include typography($body-2-semibold);
  padding: 13px 24px;
  border-radius: 8px;
}

.small {
  @include typography($body-3-semibold);
  padding: 9px 24px;
  border-radius: 8px;
}

.primary {
  background: $primary-color;
  box-shadow: 0px 2px 1px 0px $btn-shadow-color inset;

  &:hover {
    background: $primary-hover-btn-bg;
  }

  &:active {
    background: $primary-active-btn-bg;
  }

  &:disabled {
    background: $primary-active-btn-bg;
  }
}

.btn-icon-primary path {
  fill: $white-color;
}

.secondary {
  background: $secondary-btn-color;
  color: $secondary-color;
  box-shadow: 0px 2px 1px 0px $btn-shadow-color inset;

  &:hover {
    background: $secondary-hover-btn-bg;
  }

  &:active {
    background: $secondary-active-btn-bg;
  }

  &:disabled {
    background: $secondary-active-btn-bg;
  }
}

.btn-icon-secondary path {
  stroke: $secondary-color;
}

.text {
  background-color: transparent;

  &:hover {
    color: $secondary-color;
  }

  &:active {
    color: $secondary-color-80;
  }

  &:disabled {
    color: $secondary-color-80;
  }
}

.btn-icon-text path {
  stroke: $white-color;
}

.text:hover > .btn-icon-text path {
  stroke: $secondary-color;
}

.text:active > .btn-icon-text path {
  stroke: $secondary-color-80;
}

.btn-icon {
  width: 24px;
  height: 24px;
}

.btn-icon-small {
  width: 18px;
  height: 18px;
}

.btn-icon path {
  transition: all 0.2s;
}
