/* @font-face {
  font-family: 'SF Pro';
  src: url('../assets/fonts/SFUIText-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/fonts/SFUIText-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/fonts/SFUIText-Semibold.ttf') format('truetype');
  font-weight: 600;
} */